@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(43,20,40,255) 100%);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer_container {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(7,12,40,100) 5%, rgba(40,2,20,254) 100%);
}
.border_blockchain {
  background: #94eee5;
  border-radius: 330px;
  width: 474px;
  height: 474px;
}
.border_bank {
  background: #e87993;
  border-radius: 330px;
  height: 300px;
  width: 300px;
}
.border_boy {
  width: 183px;
  height: 183px;
}
.banner {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 330px;
}

.card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0px 0px 8px 8px;
}

.btn_social {
  background: rgba(255, 255, 255, 0.35);
}
